<header role="banner" class="l-header l-header--side t-training__nav">
	<h1 class="c-logo" title="{{ site.title }}">
		<span class="c-logo__evs">
			<abbr title="Effort Value">EV</abbr>
			<span class="c-logo__s">s</span>
		</span>
		<span class="c-logo__calculator">calculator</span>
	</h1>

	<nav class="nav nav--side" role="nav">
		{% for stat in stats|keys %}
			{% if attribute(training.target, stat) is defined %}
			<a class="c-button c-button--full c-button--{{ stat }}" href="{{ path_for('training_stat', { 'id': id_training, 'stat': stat }) }}">
				{{ stats[stat] }}:
				{{ attribute(training.progress, stat) }} / 
				{{ attribute(training.target, stat) }}
			</a>
			{% endif %}
		{% endfor %}
	</nav>
</header>