{% extends "base/big.twig" %}

{% block class %}
t-home
{% endblock %}

{% block side %}
<div class="js-graph--stats"></div>
{% endblock %}
 
{% block content %}

	<div class="js-graph--stats"></div>


	<form method="POST" action="/">
		<fieldset class="c-statfield-list">
			<legend>Set the targets for your training:</legend>
			{% for stat,name in stats %}
				<div class="c-statfield c-statfield--{{ stat }}">
					<input class="c-statfield__field js-stat" type="number" name="{{ stat }}" id="{{ stat }}_stat" step="4" min="0" max="252" pattern="[0-9]*" />
					<label class="c-statfield__label" for="{{ stat }}_stat">{{ name }}</label>
				</div>
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>Game:</legend>
			{% for game,name in games %}
				<label>
					<input type="radio" name="game" value="{{ game }}" required>
					<span>{{ name }}</span>
				</label>
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>PoKémon has Pokerus virus?</legend>
			<label>
				<input type="radio" name="pokerus" value="1" required>
				<span>Yes</span>
			</label>
			<label>
				<input type="radio" name="pokerus" value="0" required>
				<span>No</span>
			</label>
		</fieldset>

		<fieldset>
			<legend>Power items?</legend>
			<label>
				<input type="radio" name="has_power_item" value="1" required>
				<span>Macho brace and the others</span>
			</label>
			<label>
				<input type="radio" name="has_power_item" value="2" required>
				<span>Just the macho Braze</span>
			</label>
			<label>
				<input type="radio" name="has_power_item" value="0" required>
				<span>None</span>
			</label>
		</fieldset>

		<input class="c-button" type="submit" value="Start training">
		
	</form>

<style>
.js-graph--stats {
	max-width: 250px;
	font-size: .6em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2em;
	color: #fff;
	text-align: center;
}

.js-graph--stats svg {
	padding: 2em;
}

.js-graph--stats .axis line,
.js-graph--stats .level-group {
	stroke: #f9f9f9;
}

.js-graph--stats .graph--target {
	fill: #fff;
}

.js-graph--stats .graph--start {
	fill: #4da7c9;
	z-index: 100;
	position: relative;
	fill-opacity: 1;
}
.js-graph--stats .legend {
	fill: #fff;
}

.radar-chart .area {
  fill-opacity: 0.9;
}
</style>
<script>
(function(doc) {

	
})(document);
</script>

{% endblock %}