{% extends "base/base.twig" %}

{% block class %}
t-training
{% endblock %}

{% block title %}
{{ stats[current_stat] }} - Training #{{ training.id }} | EVs Calculator
{% endblock %}

{% block content %}
	{% set current_url = path_for('training_stat', { 'id': id_training, 'stat': current_stat }) %}

	{% include 'includes/header_training.twig' %}		

<div class="t-training__main">

	<main class="t-training__actions">
		<div class="t-training__header">
			{% if training.pokerus != 0 %}
				<span class="c-pokerus" style="float:right">POKéRUS</span>
			{% else %}
				<form method="POST" style="float: right" action="{{ current_url }}">
					<input type="hidden" name="action" value="activate_pokerus">
					<button class="c-button" type="submit">Enable POKéRUS</button>
				</form>
			{% endif %}
			<h2 class="c-training__title">{{ stats[current_stat] }} - Training #{{ training.id }}</h2>
			<div class="c-progress c-progress--main">
				<div class="c-progress__bar" style="width: {{ percentage }}%;">{{ percentage }}%</div>
			</div>

			<div class="t-training__grid">

				<div class="t-training__col">
					<div class="l-numbers">
						<div class="c-numbers c-numbers--left">
							<span class="c-numbers__label">Left</span>
							<span class="c-numbers__number">{{ left }}</span>
						</div>
						<div class="c-numbers c-numbers--gained">
							<span class="c-numbers__label">Gained</span>
							<span class="c-numbers__number">{{ gained }}</span>
						</div>
						<div class="c-numbers c-numbers--target">
							<span class="c-numbers__label">Target</span>
							<span class="c-numbers__number">{{ target }}</span>
						</div>
					</div>
				</div>

				<div class="t-training__col">
					<form method="POST" action="{{ current_url }}">
						<input type="hidden" name="action" value="change_item">
						<div class="c-inlineform">
							<select name="power_item" class="c-inlineform__field">
								{% for item in items_data.data %}
									<option value="{{ item.id }}" 
										{% if item.id == training.power_item %}selected{% endif %}
									>{{ item.name }}</option>
								{% endfor %}
							</select>
							<button class="c-button c-inlineform__button" type="submit">Change</button>
						</div>
					</form>
				</div>

			</div>

		</div>
		
		{# Training stat errors #}
		{% if training_data.stat == "invalid" %}
			{% set errors = training_data.errors %}
		{% elseif (action_data is defined) and (action_data.stat != 'ok') %}
			{% set errors = action_data.errors %}
		{% endif %}

		{% if errors is defined %}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<h2>Actions</h2>

		<p>These actions change the number of EVs for the {{ current_stat }} stat of your PoKémon. Choose the one that suits you best or simply imput the number of gained EVs on the manual entry.</p>

		<h3>Hordes</h3>

		<div class="l-action">
		{% for horde in actions.hordes %}
			{% set invalid = '' %}
			{% if horde.invalid == true %}
				{% set invalid = 'disabled'%}
			{% endif %}
			<div class="c-action">
				<form method="POST" action="{{ current_url }}">
					<input type="hidden" name="action" value="add">
					<input type="hidden" name="id" value="{{ id_training }}">
					<input type="hidden" name="stat" value="{{ current_stat }}">
					<input type="hidden" name="value" value="{{ horde.stat_value }}">
					<input type="hidden" name="power_item" value="{{ (training.power_item ? training.power_item.id : 0) }}">
					<input type="hidden" name="from" value="horde:{{ horde.id }}">
					<button class="c-button c-button--action" {{ invalid }} type="submit" title="Kill {{ horde.name }} horde">
						<span class="c-button--action__img" aria-hidden="true" style="background-image: url('https://img.evscalculator.com/pkmn/icon/{{ horde.id }}.png');"></span> 
						+{{ horde.stat_value }}</button>
				</form>
			</div>
		{% endfor %}
		</div>

		<br><br>


		<div class="t-training__grid">

			<div class="t-training__col">
				<h3>Vitamins</h3>

				<div class="l-action">
				{% for vitamin in actions.vitamins %}
					{% set invalid = '' %}
					{% if vitamin.invalid == true %}
						{% set invalid = 'disabled'%}
					{% endif %}
					<div class="c-action">
						<form method="POST" action="{{ current_url }}">
							<input type="hidden" name="action" value="add">
							<input type="hidden" name="id" value="{{ id_training }}">
							<input type="hidden" name="stat" value="{{ current_stat }}">
							<input type="hidden" name="value" value="{{ vitamin.stat_value }}">
							<input type="hidden" name="from" value="vitamin:{{ vitamin.id }}">
							<button class="c-button c-button--action" {{ invalid }} type="submit" title="Use {{ vitamin.name }} horde">
								<span class="c-button--action__img" aria-hidden="true" style="background-image: url('https://img.evscalculator.com/vitamins/icon/{{ vitamin.id }}.png');"></span> 
								+{{ vitamin.stat_value }}</button>
						</form>
					</div>
				{% endfor %}
				</div>
			</div>

			<div class="t-training__col">
				<h3>Berries</h3>

				<div class="l-action">
				{% for berry in actions.berries %}
					{% set invalid = '' %}
					{% if berry.invalid == true %}
						{% set invalid = 'disabled'%}
					{% endif %}
					<div class="c-action">
						<form method="POST" action="{{ current_url }}">
							<input type="hidden" name="action" value="add">
							<input type="hidden" name="id" value="{{ id_training }}">
							<input type="hidden" name="stat" value="{{ current_stat }}">
							<input type="hidden" name="value" value="-{{ berry.stat_value }}">
							<input type="hidden" name="from" value="berry:{{ berry.id }}">
							<button class="c-button c-button--action" {{ invalid }} type="submit" title="Use {{ berry.name }}">
								<span class="c-button--action__img" aria-hidden="true" style="background-image: url('https://img.evscalculator.com/berries/icon/{{ berry.id }}.png');"></span> 
								-{{ berry.stat_value }}</button>
						</form>
					</div>
				{% endfor %}
				</div>
			</div>

		</main>


		
	
	</main>


	<aside class="t-training__records c-panel c-panel--records" id="panel-records">
		<a href="#" class="c-button c-button--full c-button--back">Back to training</a>

		<h2>Manual entry</h2>

		<form method="POST" action="{{ current_url }}">
			<input type="hidden" name="action" value="add">
			<input type="hidden" name="id" value="{{ id_training }}">
			<input type="hidden" name="stat" value="{{ current_stat }}">
			<input type="hidden" name="pokerus" value="{{ (training.pokerus ? 1 : 0) }}">
			
			<div class="c-inlineform">
				<input class="c-inlineform__field" type="number" name="value" min="{{ (gained < 10) ? (-gained) : -10 }}" max="{{ left }}" placeholder="EVs gained">
				<button class="c-button c-inlineform__button" type="submit">Add</button>
			</div>
		</form>

		<br>

		<h2>Records</h2>

		{% if records_data.stat != "ok" %}
			{% set errors = records_data.errors %}

			{% if errors|length > 1 %}
				<ul>
					{% for error in errors %}
						<li>{{ records_data.errors }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<div>{{ records_data.errors[0] }}</div>
			{% endif %}
		{% endif %}


		{% if records_data.stat != "error" %}
			{% set records = records_data.data %}

			<ul class="l-record">
				{% for record in records %}
					{% set class = '' %}

					{# Define origin for manual actions #}
					{% if record.from is defined %}
						{% set class = class ~ " c-record--" ~ record.from.type %}
						{% set source = record.from %}
						{% set image_root = record.from.type %}
						{% if image_root == 'hordes' %}
							{% set image_root = 'pkmn' %}
						{% endif %}
						{% set image = 'https://img.evscalculator.com/' ~ image_root ~ '/icon/' ~ record.from.origin.id ~ '.png' %}
					{% else %}
						{% set class = class ~ " c-record--manual" %}
						{% set image = 'https://img.evscalculator.com/others/icon/manual.png' %}
						{% 
							set source = {
								"type": "manual", 
								"origin": {
									"name": "Manual",
									"stat_value": 0
								}
							}
						%}
					{% endif %}


					{# If negative #}
					{% if record.value < 0 %}
						{% set class = class ~ " c-record--negative" %}
						{% set value = record.value %}
					{% else %}
						{% set value = '+' ~ record.value %}
					{% endif %}

					<li class="c-record{{ class }}">
						<span class="c-record__value">{{ value }}</span>
						<span class="c-record__item" aria-hidden="true" style="background-image: url({{ image }});"></span> 

						<div class="c-record__data">	
							<span class="c-record__from">{{ source.origin.name }}</span>
							{% if source.type == 'hordes' %}
								<span class="c-record__from__value">+{{ source.origin.stat_value }}</span>
								{% if record.pokerus != 0 %}
									<span class="c-pokerus">POKéRUS</span>
								{% endif %}
							{% endif %}
						</div>

					</li>
				{% endfor %}
			</ul>

		{% endif %}
	</aside>

</div>


{% endblock %}
