{% extends "base/base.twig" %}

{% block class %}
t-training
{% endblock %}

{% block content %}
	{% set training = training_data.data %}
	{% set actions = actions_data.data %}

	{% set left = attribute(training.left, current_stat) %}
	{% set gained = attribute(training.progress, current_stat) %}
	{% set target = attribute(training.target, current_stat) %}
	{% set percentage = attribute(training.completed, current_stat) %}

	{% include 'includes/header_training.twig' %}		


<div class="t-training__header">
	<h2>Training #{{ training.id }} - {{ stats[current_stat] }}</h2>
	<div class="c-progress c-progress--main" style="background: #fff">
		<div class="c-progress__bar" style="background: green; height: 1em; width: {{ percentage }}%;"></div>
	</div>

	<p>Left {{ left }} - Gained {{ gained }} - Target {{ target }} - Percentage {{ percentage }}%</p>
</div>

<div class="t-training__main">

	<main class="t-training__actions">
		{# Training stat errors #}
		{% if training_data.stat == "invalid" %}
			{% set errors = training_data.errors %}
		{% elseif (action_data is defined) and (action_data.stat != 'ok') %}
			{% set errors = action_data.errors %}
		{% endif %}

		{% if errors is defined %}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<h2>Actions</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

		<h3>Recommended</h3>

		{% for horde in actions.hordes %}
			{% set invalid = '' %}
			{% if horde.invalid == true %}
				{% set invalid = 'disabled'%}
			{% endif %}

		<form method="POST">
			<input type="hidden" name="action" value="add">
			<input type="hidden" name="id" value="{{ id_training }}">
			<input type="hidden" name="stat" value="{{ current_stat }}">
			<input type="hidden" name="value" value="{{ horde.stat_value }}">
			<input type="hidden" name="pokerus" value="{{ (training.pokerus ? 1 : 0) }}">
			<button class="c-button c-button--action" {{ invalid }} type="submit">{{ horde.name }} ({{ horde.stat_value }})</button>
		</form>
		{% endfor %}

		<br><br>

		<h3>Manual</h3>

		<form method="POST">
			<input type="hidden" name="action" value="add">
			<input type="hidden" name="id" value="{{ id_training }}">
			<input type="hidden" name="stat" value="{{ current_stat }}">
			<input type="hidden" name="pokerus" value="{{ (training.pokerus ? 1 : 0) }}">
			
			<div class="c-inlineform">
				<input class="c-inlineform__field" type="number" name="value" min="{{ - gained }}" max="{{ left }}">
				<button class="c-button c-inlineform__button" type="submit">Add</button>
			</div>
		</form>
	
	</main>


	<aside class="t-training__records">

		{# Records #}
		<h2>Records</h2>

		{% if records_data.stat != "ok" %}
			{% set errors = records_data.errors %}

			{% if errors|length > 1 %}
				<ul>
					{% for error in errors %}
						<li>{{ records_data.errors }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<div>{{ records_data.errors[0] }}</div>
			{% endif %}
		{% endif %}


		{% if records_data.stat != "error" %}
			{% set records = records_data.data %}

			<ul>
				{% for record in records %}
					{% set class = '' %}

					{# If not manual action #}
					{% if record.from is defined %}
						{% set class = class ~ " c-record__" ~ record.from.type %}
					{% endif %}

					{# If negative #}
					{% if record.value < 0 %}
						{% set class = class ~ " c-record__negative" %}
					{% endif %}

					<li class="c-record{{ class }}">
						<span class="c-record__value">{{ record.value }}</span>
						<span class="c-record__from">
							{% if record.from is defined %}
								from {{ record.from.origin.name }}
							{% endif %}
						</span>
					</li>
				{% endfor %}
			</ul>

		{% endif %}
	</aside>

</div>


{% endblock %}
