{% extends "base/base.twig" %}

{% block class %}
t-training
{% endblock %}

{% block content %}
	{% set current_url = path_for('training_stat', { 'id': id_training, 'stat': current_stat }) %}

	{% include 'includes/header_training.twig' %}		


<div class="t-training__header">
	<h2 class="c-training__title">Training #{{ training.id }} - {{ stats[current_stat] }}</h2>
	<div class="c-progress c-progress--main">
		<div class="c-progress__bar" style="width: {{ percentage }}%;"></div>
	</div>

	<p>Left {{ left }} - Gained {{ gained }} - Target {{ target }} - Percentage {{ percentage }}%</p>

	<div class="l-option-list">
		{% if training.pokerus == 1 %}
		<div class="l-option">
			<span class="c-pokerus">POKéRUS</span>
		</div>
		{% endif %}
		<div class="l-option">
			Power item: {{ training.power_item.name }}
		</div>
	</div>
</div>

<div class="t-training__main">

	<main class="t-training__actions">
		{# Training stat errors #}
		{% if training_data.stat == "invalid" %}
			{% set errors = training_data.errors %}
		{% elseif (action_data is defined) and (action_data.stat != 'ok') %}
			{% set errors = action_data.errors %}
		{% endif %}

		{% if errors is defined %}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<h2>Actions</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

		<h3>Recommended</h3>

		{% for horde in actions.hordes %}
			{% set invalid = '' %}
			{% if horde.invalid == true %}
				{% set invalid = 'disabled'%}
			{% endif %}
			<div class="c-action">
				<form method="POST" action="{{ current_url }}">
					<input type="hidden" name="action" value="add">
					<input type="hidden" name="id" value="{{ id_training }}">
					<input type="hidden" name="stat" value="{{ current_stat }}">
					<input type="hidden" name="value" value="{{ horde.stat_value }}">
					<input type="hidden" name="pokerus" value="{{ (training.pokerus ? 1 : 0) }}">
					<input type="hidden" name="from" value="horde:{{ horde.id }}">
					<button class="c-button c-button--action" {{ invalid }} type="submit" title="Kill {{ horde.name }} horde">
						<span class="c-button--action__img" aria-hidden="true" style="background-image: url('https://img.evscalculator.com/pkmn/icon/{{ horde.id }}.png');"></span> 
						+{{ horde.stat_value }}</button>
				</form>
			</div>
		{% endfor %}

		<br><br>

		<h3>Manual</h3>

		<form method="POST" action="{{ current_url }}">
			<input type="hidden" name="action" value="add">
			<input type="hidden" name="id" value="{{ id_training }}">
			<input type="hidden" name="stat" value="{{ current_stat }}">
			<input type="hidden" name="pokerus" value="{{ (training.pokerus ? 1 : 0) }}">
			
			<div class="c-inlineform">
				<input class="c-inlineform__field" type="number" name="value" min="-10" max="{{ left }}">
				<button class="c-button c-inlineform__button" type="submit">Add</button>
			</div>
		</form>
	
	</main>


	<aside class="t-training__records">

		{# Records #}
		<h2>Records</h2>

		{% if records_data.stat != "ok" %}
			{% set errors = records_data.errors %}

			{% if errors|length > 1 %}
				<ul>
					{% for error in errors %}
						<li>{{ records_data.errors }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<div>{{ records_data.errors[0] }}</div>
			{% endif %}
		{% endif %}


		{% if records_data.stat != "error" %}
			{% set records = records_data.data %}

			<ul>
				{% for record in records %}
					{% set class = '' %}
					{% set image = '' %}

					{# If not manual action #}
					{% if record.from is defined %}
						{% set class = class ~ " c-record--from c-record--" ~ record.from.type %}
						{% set image = 'https://img.evscalculator.com/pkmn/icon/' ~ record.from.origin.id ~ '.png' %}
					{% else %}
						{% 
							set record = record|merge({
								"from": {
									"type": "manual", 
									"origin": {
										"name": "Manual",
										"stat_value": 0
									}
								}
							})
						%}
					{% endif %}


					{# If negative #}
					{% if record.value < 0 %}
						{% set class = class ~ " c-record--negative" %}
						{% set value = record.value %}
					{% else %}
						{% set value = '+' ~ record.value %}
					{% endif %}

					<li class="c-record{{ class }}">
						<span class="c-record__value">{{ value }}</span>
						<span class="c-record__item" aria-hidden="true" style="background-image: url({{ image }});"></span> 

						<div class="c-record__data">	
							<span class="c-record__from">{{ record.from.origin.name }}</span>
							{% if record.from.type != 'manual' %}
								<span class="c-record__from__value">{{ record.from.origin.stat_value }}</span>
								{% if record.pokerus == 1 %}
									<span class="c-pokerus">POKéRUS</span>
								{% endif %}
							{% endif %}
						</div>

					</li>
				{% endfor %}
			</ul>

		{% endif %}
	</aside>

</div>


{% endblock %}
